*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.head{margin: 150px;
    text-align: center;
    color:#682b84;
}
.lec{ font-weight: 700;    color: #bb5a5a;
    margin: 20px;
}
.box{
    margin-left: 500px;
}
.input{
    color: rgb(89, 112, 132);
    border-radius: 10px;
    padding: 5px;
}
.button{
    background-color: #682b84;
    color: whitesmoke;
    padding: 9px;
    margin-left:20px ;
    border-radius: 5px;
}
.res{
    font-weight: 700;    color: #bb5a5a;
    margin-left: 100px;
    margin-top: 70px;

}